*.o
*.Po
*.a
*.la
*.lai
*.lo
*.Plo
*.so
*~
*.log
*.swp
*.cache/*

*Makefile

config.h
config.status
compile
libtool
ffts.pc
stamp-h1
tests/test

java/android/local.properties
java/android/gen/*
java/android/obj/*
java/android/bin/*

