Source: ekho
Section: sound
Priority: extra
Maintainer: Cameron Wong <hgneng@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libpulse-dev, libncurses5-dev, libmp3lame-dev, libsndfile1-dev (>= 1.0.18), libestools2.1-dev, festival-dev
Standards-Version: 3.7.2

Package: ekho
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmp3lame0, libpulse0, libsndfile1 (>= 1.0.18), libncurses5, libestools2.1, festival-dev, texinfo
Description: a Chinese (Mandarin/Cantonese) TTS software.
 Ekho TTS (http://www.eguidedog.net/ekho.php) is a text-to-speech engine which supports Cantonese, Mandarin, Tibetan, Hakka, Ngangien, Korean, English.
